body {
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.input-group-text .katex { line-height: 1em; }

.c-pointer {
 cursor: pointer;
}

ng-katex {
  white-space: nowrap;
}

.popover-body {
  .katex {
    font-size: 1.2em;
  }
}
