<nav class="navbar navbar-expand-lg navbar-dark bg-eggplant mb-4">
  <a class="navbar-brand" routerLink="/">Ehitusfüüsika kalkulaatorid</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
