<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card my-2">
        <div class="card-body">

          <div class="card my-2">
            <div class="card-header">
              Tala omadused
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="woodgrade-input">Puidu tugevusklass:</label>
                    <select class="form-control form-control-sm" id="woodgrade-input" (change)="changeGrade($event)">
                      <optgroup label="Saematerajal">
                        <option value="c14">C14</option>
                        <option value="c16">C16</option>
                        <option value="c18">C18</option>
                        <option value="c20">C20</option>
                        <option value="c22">C22</option>
                        <option value="c24">C24</option>
                        <option value="c27">C27</option>
                        <option value="c30">C30</option>
                        <option value="c35">C35</option>
                        <option value="c40">C40</option>
                        <option value="c45">C45</option>
                        <option value="c50">C50</option>
                      </optgroup>
                      <optgroup label="Liimpuit">
                        <option value="gl20h">GL20h</option>
                        <option value="gl22h">GL22h</option>
                        <option value="gl24h">GL24h</option>
                        <option value="gl28h">GL28h</option>
                        <option value="gl30h">GL30h</option>
                        <option value="gl32h">GL32h</option>
                        <option value="gl36h">GL36h</option>

                        <option value="gl20c">GL20c</option>
                        <option value="gl22c">GL22c</option>
                        <option value="gl24c">GL24c</option>
                        <option value="gl28c">GL28c</option>
                        <option value="gl30c">GL30c</option>
                        <option value="gl32c">GL32c</option>
                        <option value="gl36c">GL36c</option>
                      </optgroup>

                    </select>
                  </div>
                  <div class="form-group">
                    <label for="beam-height-input">Tala ristlõige:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">b =</span></div>
                      <input [(ngModel)]="beam.breath" type="number" class="form-control" id="beam-breath-input" name="breath" />
                      <div class="input-group-append"><span class="input-group-text">mm</span></div>
                    </div>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">h =</span></div>
                      <input [(ngModel)]="beam.height" type="number" class="form-control" id="beam-height-input" name="height" />
                      <div class="input-group-append"><span class="input-group-text">mm</span></div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="beam-length-input">Tala pikkus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">L =</span></div>
                      <input [(ngModel)]="beam.length" type="number" class="form-control" id="beam-length-input" name="length" />
                      <div class="input-group-append"><span class="input-group-text">mm</span></div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="beam-spacing-input">Talade samm:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">S =</span></div>
                      <input [(ngModel)]="beam.spacing" type="number" class="form-control" id="beam-spacing-input" name="spacing" />
                      <div class="input-group-append"><span class="input-group-text">mm</span></div>
                    </div>
                  </div>

                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Normatiivne paindetugevus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">𝑓<sub>m,k</sub> =</span></div>
                      <input type="text" disabled="disabled" class="form-control" [value]="woodgrade.bendingStrength"/>
                      <div class="input-group-append"><span class="input-group-text">N/mm<sup>2</sup></span></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- Young's modulus -->
                    <label>Elastusmoodul:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">E =</span></div>
                      <input type="text" disabled="disabled" class="form-control" [value]="woodgrade.moduleOfElasticity"/>
                      <div class="input-group-append"><span class="input-group-text">Mpa</span></div>
                    </div>
                  </div>
<!--                  <div class="form-group">-->
<!--                    &lt;!&ndash; Density &ndash;&gt;-->
<!--                    <label>Materjali tihedus:</label>-->
<!--                    <div class="input-group input-group-sm">-->
<!--                      <div class="input-group-prepend"><span class="input-group-text">&rho; =</span></div>-->
<!--                      <input type="text" disabled="disabled" class="form-control" [value]="woodgrade.density"/>-->
<!--                      <div class="input-group-append"><span class="input-group-text">kg/m<sup>3</sup></span></div>-->
<!--                    </div>-->
<!--                  </div>-->
                  <hr>
                  <div class="form-group">
                    <!-- Elastic section modulus -->
                    <label>Vastupanumoment: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="popSectionModulus">?</span></label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">W<sub>z</sub> =</span></div>
                      <input type="text" disabled="disabled" class="form-control" [value]="elasticSectionModulus"/>
                      <div class="input-group-append"><span class="input-group-text">mm<sup>3</sup></span></div>
                    </div>
                  </div>
<!--                  <div class="form-group">-->
<!--                    <label>Tala kaal:</label>-->
<!--                    <div class="input-group input-group-sm">-->
<!--                      <input type="text" disabled="disabled" class="form-control" [value]="elasticSectionModulus"/>-->
<!--                      <div class="input-group-append"><span class="input-group-text">kg</span></div>-->
<!--                    </div>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>

          <div class="card my-2">
            <div class="card-header">
              Kasutus tingimused
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="kasutusklass-input">Kasutusklass: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="usageClassTT">?</span></label>
                    <select [(ngModel)]="usageClass" class="form-control form-control-sm" id="kasutusklass-input">
                      <option [ngValue]="1">1 - Kuiv ruum</option>
                      <option [ngValue]="2">2 - Niiske Ruum</option>
                      <option [ngValue]="3">3 - Välistingimused</option>
                    </select>
                  </div>
                </div>
<!--                <div class="col-6">-->
<!--                  <div class="form-group">-->
<!--                    <label for="roomtype-input">Ruumi tüüp:</label>-->
<!--                    <select class="form-control form-control-sm" id="roomtype-input">-->
<!--                      <option value="2">Eluruumid, haiglapalatid, hotellide numbritoad, köögid, wc</option>-->
<!--                      <option value="3">Bürooruumid</option>-->
<!--                      <option value="3">Klassiruumid, kohvikud, lugemissaalid</option>-->
<!--                      <option value="4">Kirikud, teatri- ja kinosaalid, konverentsiruumid, ootesaalid</option>-->
<!--                      <option value="5">Muuseumid, ühiskondlike hoonete vestibüülid ja koridorid, võimlad, näitelavad, katuseterrassid</option>-->
<!--                      <option value="5">Kauplused, kaubamajad</option>-->
<!--                    </select>-->
<!--                  </div>-->
<!--                </div>-->
              </div>

            </div>
          </div>

          <div class="card my-2">
            <div class="card-header">
              Koormused
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <label for="deadload-input">Alaline koormus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">G =</span></div>
                      <input [(ngModel)]="loads.dead" type="number" class="form-control" id="deadload-input" name="deadload" />
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="partialfactorG-input">Osavarutegur:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">γ<sub>G</sub>=</span></div>
                      <input value="1.2" disabled="disabled" type="number" class="form-control" id="partialfactorG-input"/>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="deaload-calc-input">Arvutusväärtus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">G<sub>d</sub>=</span></div>
                      <input [value]="loads.dead * 1.2" disabled="disabled" class="form-control" id="deaload-calc-input"/>
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <label for="liveload-input">Pikajaline koormus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">Q =</span></div>
                      <input [(ngModel)]="loads.long" type="number" class="form-control" id="liveload-input" name="liveload" />
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="partialfactorQ-input">Osavarutegur:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">γ<sub>Q</sub> =</span></div>
                      <input value="1.5" disabled="disabled" type="number" class="form-control" id="partialfactorQ-input"/>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="liveload-calc-input">Arvutusväärtus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">Q<sub>d</sub> =</span></div>
                      <input [value]="loads.long * 1.5" disabled="disabled" class="form-control" id="liveload-calc-input"/>
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <label for="liveload-input">Keskkestev koormus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">Q =</span></div>
                      <input [(ngModel)]="loads.mid" type="number" class="form-control" id="liveload-input" name="liveload" />
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="partialfactorQ-input">Osavarutegur:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">γ<sub>Q</sub> =</span></div>
                      <input value="1.5" disabled="disabled" type="number" class="form-control" id="partialfactorQ-input"/>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="liveload-calc-input">Arvutusväärtus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">Q<sub>d</sub> =</span></div>
                      <input [value]="loads.mid * 1.5" disabled="disabled" class="form-control" id="liveload-calc-input"/>
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-5">
                  <div class="form-group">
                    <label for="liveload-input">Lühiajaline koormus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">Q =</span></div>
                      <input [(ngModel)]="loads.short" type="number" class="form-control" id="liveload-input" name="liveload" />
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="partialfactorQ-input">Osavarutegur:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">γ<sub>Q</sub> =</span></div>
                      <input value="1.5" disabled="disabled" type="number" class="form-control" id="partialfactorQ-input"/>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="liveload-calc-input">Arvutusväärtus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">Q<sub>d</sub> =</span></div>
                      <input [value]="loads.short * 1.5" disabled="disabled" class="form-control" id="liveload-calc-input"/>
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="totalload-input">Kogu koormus:</label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">K =</span></div>
                      <input [value]="totalLoad" disabled="disabled" type="number" class="form-control" id="totalload-input"/>
                      <div class="input-group-append"><span class="input-group-text">kN/m<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="distload-input">Joon koormus: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="distLoadTT">?</span></label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">q =</span></div>
                      <input [value]="distLoad" disabled="disabled" type="number" class="form-control" id="distload-input"/>
                      <div class="input-group-append"><span class="input-group-text">N/mm</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-2">
            <div class="card-header">
              Koormuskombinatsioon
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="kmod-input">Materjali modif. tegur: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="kmodTT">?</span></label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">K<sub>mod</sub> =</span></div>
                      <input [value]="kmod" disabled="disabled" type="number" class="form-control" id="kmod-input"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="bendingmoment-input">Paindemoment: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="bendingMomentTT">?</span></label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">M =</span></div>
                      <input [value]="bendingMoment" disabled="disabled" type="number" class="form-control" id="bendingmoment-input"/>
                      <div class="input-group-append"><span class="input-group-text">N·mm</span></div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="YM-input">Materjali osavarutegur: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="YMTT">?</span></label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend"><span class="input-group-text">
                        <ng-katex [equation]="'\\Upsilon_M'"></ng-katex> =</span>
                      </div>
                      <input [value]="woodgrade.YM" disabled="disabled" type="number" class="form-control" id="YM-input"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="bendingtension-input">Paindepinge: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="bendingTensionTT">?</span></label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <ng-katex [equation]="'\\sigma_{m,z,d}'"></ng-katex>
                        </span>
                      </div>
                      <input [value]="bendingTension" disabled="disabled" type="number" class="form-control" id="bendingtension-input"/>
                      <div class="input-group-append"><span class="input-group-text">N/mm<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="strengthD-input">Arvutuslik paindetugevus: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="calcBendingStrength">?</span></label>
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <ng-katex [equation]="'f_{m,d}'"></ng-katex> =
                        </span>
                      </div>
                      <input [value]="strengthD" disabled="disabled" type="number" class="form-control" id="strengthD-input"/>
                      <div class="input-group-append"><span class="input-group-text">N/mm<sup>2</sup></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card my-2">
        <div class="card-body">

          <div class="card my-2">
            <div class="card-header">
              Kandepiirseisund
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <label>Vastupidavus paindele: <span class="badge badge-secondary align-text-bottom c-pointer" [ngbPopover]="bendingResistance">?</span></label>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><ng-katex [equation]="'\\sigma_{m,z,d}/f_{m,d}'"></ng-katex></span>
                    </div>
                    <input type="text" class="form-control" [value]="bendingTension/strengthD">
                    <div class="input-group-append">
                      <span class="input-group-text" *ngIf="bendingTension/strengthD < 1" style="color: darkgreen;">Tagatud</span>
                      <span class="input-group-text" *ngIf="bendingTension/strengthD >= 1" style="color: darkred;">Pole tagatud</span>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-2">
            <div class="card-body">
              <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" width="300px" height="300px">
                <g transform="translate(50 50)">
                  <rect x="0" y="0" [attr.width]="beamScale.breath" [attr.height]="beamScale.height"
                        style="fill:#f1d99e;stroke:#b3b3b3;stroke-width:2;" />
                  <!-- breath dimensions -->
                  <line [attr.x1]="0"           [attr.y1]="beamScale.height + 5" [attr.x2]="0"           [attr.y2]="beamScale.height + 25" stroke="black" />
                  <line [attr.x1]="beamScale.breath" [attr.y1]="beamScale.height + 5" [attr.x2]="beamScale.breath" [attr.y2]="beamScale.height + 25" stroke="black" />
                  <text [attr.x]="beamScale.breath / 2" [attr.y]="beamScale.height + 30" style="text-anchor: middle; dominant-baseline: hanging;">b = {{beam.breath}} mm</text>
                  <!-- z axis marker -->
                  <line [attr.x1]="-20"         [attr.y1]="beamScale.height / 2" [attr.x2]="beamScale.breath + 20" [attr.y2]="beamScale.height / 2" stroke="gray" stroke-dasharray="4" stroke-width="1"></line>
                  <text [attr.x]="-25" [attr.y]="beamScale.height /2" style="text-anchor: end; dominant-baseline: middle;" fill="gray"> z </text>


                  <!-- height dimensions-->
                  <line [attr.x1]="beamScale.breath + 5" [attr.y1]="0"           [attr.x2]="beamScale.breath + 25" [attr.y2]="0"           stroke="black" />
                  <line [attr.x1]="beamScale.breath + 5" [attr.y1]="beamScale.height" [attr.x2]="beamScale.breath + 25" [attr.y2]="beamScale.height" stroke="black" />
                  <text [attr.x]="beamScale.breath + 25" [attr.y]="beamScale.height / 2" style="text-anchor: start; dominant-baseline: middle;">h = {{beam.height}} mm</text>
                  <!-- y axis marker -->
                  <line [attr.x1]="beamScale.breath / 2" [attr.y1]="-20" [attr.x2]="beamScale.breath / 2" [attr.y2]="beamScale.height + 20" stroke="gray" stroke-dasharray="4" stroke-width="1"></line>
                  <text [attr.x]="beamScale.breath / 2"  [attr.y]="-25" style="text-anchor: middle; dominant-baseline: text-bottom;" fill="gray"> y </text>

                </g>
              </svg>
            </div>
          </div>
          <div class="card my-2">
            <div class="card-body">
              <svg xmlns="http://www.w3.org/2000/svg"



                   [attr.viewBox]="'0 0 ' + (isoViewport.width + isoViewport.padding*2) +' '+ (isoViewport.height + isoViewport.padding*2)"
                   [attr.width]="isoViewport.width + isoViewport.padding*2"
                   [attr.height]="isoViewport.height + isoViewport.padding*2">
                <g [attr.transform]="'translate('+isoViewport.padding+' '+isoViewport.padding+')'">
                  <path [attr.d]="isoD"
                        style="fill:#f1d99e;stroke:#b3b3b3;stroke-width:1;" stroke-linejoin="round"
                        id="isoBeam"></path>
                  <use href="#isoBeam" [attr.x]="cloneCord(1).x" [attr.y]="cloneCord(1).y"></use>
                  <use href="#isoBeam" [attr.x]="cloneCord(2).x" [attr.y]="cloneCord(2).y"></use>

                  <!--      spacing dimension    -->
                  <g stroke="#8e8e8e" color="#8e8e8e">
                    <line
                      [attr.x1]="origin.x + right(isoScale.breath / 2)"
                      [attr.y1]="origin.y + up(isoScale.breath / 2)"
                      [attr.x2]="origin.x + right(isoScale.breath / 2)"
                      [attr.y2]="origin.y + up(isoScale.breath / 2) + 10"></line>
                    <line
                      [attr.x1]="origin.x + right(isoScale.spacing) + right(isoScale.breath / 2)"
                      [attr.y1]="origin.y + up(isoScale.spacing) + up(isoScale.breath / 2)"
                      [attr.x2]="origin.x + right(isoScale.spacing) + right(isoScale.breath / 2)"
                      [attr.y2]="origin.y + up(isoScale.spacing) + up(isoScale.breath / 2) + 10"></line>

                    <line
                      [attr.x1]="origin.x + right(isoScale.breath / 2)"
                      [attr.y1]="origin.y + up(isoScale.breath / 2) + 5"
                      [attr.x2]="origin.x + right(isoScale.spacing) + right(isoScale.breath / 2)"
                      [attr.y2]="origin.y + up(isoScale.spacing) + up(isoScale.breath / 2) + 5"></line>
                    <text [attr.x]="origin.x + right(isoScale.spacing / 2)"
                          [attr.y]="origin.y + up(isoScale.spacing / 2) + 5"
                          dominant-baseline="text-before-edge"
                          text-anchor="start"
                          stroke="none">
                      S = {{beam.spacing}}
                    </text>
                  </g>

                  <g stroke="#8e8e8e" >
                    <line
                      [attr.x1]="origin.x"
                      [attr.y1]="origin.y"
                      [attr.x2]="origin.x + left(12)"
                      [attr.y2]="origin.y + down(12) "></line>

                    <line
                      [attr.x1]="origin.x + left(isoScale.length)"
                      [attr.y1]="origin.y + up(isoScale.length)"
                      [attr.x2]="origin.x + left(isoScale.length) + left(12)"
                      [attr.y2]="origin.y + up(isoScale.length) + down(12)"></line>

                    <line
                      [attr.x1]="origin.x + left(6)"
                      [attr.y1]="origin.y + down(6)"
                      [attr.x2]="origin.x + left(isoScale.length) + left(6)"
                      [attr.y2]="origin.y + up(isoScale.length) + down(6)"></line>

                    <text [attr.x]="origin.x + left(isoScale.length/2) + left(6)"
                          [attr.y]="origin.y + up(isoScale.length/2) + down(6)"
                          dominant-baseline="text-before-edge"
                          text-anchor="end"
                          stroke="none">
                      L = {{beam.length}}
                    </text>
                  </g>



                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<ng-template #popSectionModulus><ng-katex [equation]="'W_z = \\dfrac{bh^2}{6}'"></ng-katex></ng-template>
<ng-template #calcBendingStrength><ng-katex [equation]="'f_{m,d} = \\dfrac{f_{m,k}×K_{mod}}{\\Upsilon_M}'"></ng-katex></ng-template>
<ng-template #bendingResistance>
  Paindetugevus peab olema suurem kui paindepinge Z teljel: <br><br>
  <ng-katex [equation]="'\\dfrac{\\sigma_{m,z,d}}{f_{m,d}} < 1'"></ng-katex>
</ng-template>
<ng-template #bendingTensionTT><ng-katex [equation]="'\\sigma_{m,z,d} = \\dfrac{M}{W_z}'"></ng-katex></ng-template>
<ng-template #bendingMomentTT><ng-katex [equation]="'M = \\dfrac{q × L^2}{8}'"></ng-katex></ng-template>
<ng-template #distLoadTT><ng-katex [equation]="'q = K × S'"></ng-katex></ng-template>
<ng-template #usageClassTT>
  <strong>Kasutusklass 1</strong>:
  <p>20 °C juures: Õhuniiskus kuni 65%, puidu suhteline niiskus okaspuidul kuni 12%</p>
  <p>Köetavatad siseruumid, soojustatud konstruktsioonid ja talad mille tõmbetsoon on soojustatud</p>

  <strong>Kasutusklass 2</strong>:
  <p>20 °C juures: Õhuniiskus kuni 85%, ületatakse mõneks nädalaks aastas. Puidu suhteline niiskus okaspuidul kuni 20%</p>
  <p>Välitingimustes asuvad konstruktsioonid mis on kaitsut märgumise eest ja on tuulutatud.</p>

  <strong>Kasutusklass 3</strong>:
  <p>Kõrgem kui kasutusklass 2</p>
  <p></p>
</ng-template>
<ng-template #kmodTT>
  <p><ng-katex [equation]="'K_{mod}'"></ng-katex>
  - Modifitseerimis tegur arvestamaks koormuse kestust ja niiskussialduse mõju puidu tugevusele.</p>
  <p>Väärtus leitakse tabelist. Erineva kestusega koormuste puhul leitakse aritmeetiline kaalutud keskmine,
  kus väärtus on <ng-katex [equation]="'K_{mod}'"></ng-katex> ja kaaluks koormus.</p>
</ng-template>
<ng-template #YMTT>
  <p><ng-katex [equation]="'\\\\Upsilon_M'"></ng-katex> - Materjali liigist sõltuv osavarutegur</p>
  <p style="white-space: nowrap"><strong>Monoliitpuit: </strong><ng-katex [equation]="'\\Upsilon_M = 1,3'"></ng-katex></p>
  <p style="white-space: nowrap"><strong>Lamell- ja spoonliimpuit: </strong><ng-katex [equation]="'\\Upsilon_M = 1,25'"></ng-katex></p>
</ng-template>
