<div class="card my-2">
  <div class="card-header bg-periwinkle">
    Piirde kihid
  </div>
  <div class="card-body">
    <div class="card my-2">
      <div class="card-body py-1 px-2">
        <div class="row">
          <div class="col">
            <ng-katex [equation]="'d,~\\small{mm}'"></ng-katex>
          </div>
          <div class="col">
            <ng-katex [equation]="'\\lambda_{design},~ \\small{(W\\!/mK)}'"></ng-katex>
          </div>
          <div class="col">
            <ng-katex [equation]="'R,~ \\small{(m^2·\\!K\\!/W)}'"></ng-katex>
          </div>
          <div class="col">
            <ng-katex [equation]="'t,~ \\small{\\degree C}'"></ng-katex>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-2">
      <div class="card-header py-1 px-2 ">
        Siseõhk
      </div>
      <div class="card-body py-1 px-2">
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"><ng-katex [equation]="'0.13'"></ng-katex></div>
          <div class="col"><ng-katex [equation]="'\\text{'+ temps.internal.toFixed() + '}'"></ng-katex></div>
        </div>
      </div>
    </div>

    <div (cdkDropListDropped)="drop($event)" cdkDropList>
      <layer *ngFor="let layer of layers; let i = index;"
             [layer]="layer"
             (layerChange)="onLayerChange()"
             [temp]="[surfaces[i].temp, surfaces[i+1].temp]" cdkDrag>
        <svg class="bi text-black-50" cdkDragHandle
             width="22" height="22"
             fill="currentColor">
          <use xlink:href="bootstrap-icons.svg#grip-vertical"/>
        </svg>
      </layer>

    </div>

    <div class="row my-2">
      <div class="col">
        <button (click)="addLayer()" type="button" class="btn btn-outline-primary btn-sm btn-block">Lisa kiht</button>
      </div>
    </div>

    <div class="card my2">
      <div class="card-header py-1 px-2 ">
        Välisõhk
      </div>
      <div class="card-body py-1 px-2">
        <div class="row">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">
            <ng-katex [equation]="'0.04'"></ng-katex>
          </div>
          <div class="col">
            <ng-katex [equation]="'\\text{'+ temps.external.toFixed() + '}'"></ng-katex>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
