<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-4">Ehitusfüüsika kalkulaatorid</h1>
        <p class="lead">Kalkulaatorid on kasutamiseks hariduslikel eesmärkidel.</p>
        <p>Autor ei soovita kasutada neid ehitiste projekteerimisel. </p>
        <hr class="my-4">
        <p>Tarkvara on avatud lähtekoodiga ja saadaval <a href="https://github.com/tuuling/building-calculators">Githubis</a>.
          <br>
          Paranduste, kommentaaride, soovide ja küsimustega võib kirjutada: <a href="mailto:reedik@reediktuuling.com">reedik@reediktuuling.com</a>
        </p>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="card h-100">
        <div class="card-body d-flex flex-column align-items-center">
          <img class="card-img-top" src="assets/simplebeam.png" alt="">
          <h3>Puidust tala tugevusarvutus</h3>
          <p>Võimaldab arvutada puidust lihttala vastupidavust paindele.</p>
          <a class="btn btn-outline-primary mt-auto" routerLink="/beam">Tala arvutus</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card h-100">
        <div class="card-body d-flex flex-column align-items-center">
          <img class="card-img-top" src="assets/posts.png" alt="">
          <h3>Puidust posti tugevusarvutus</h3>
          <p>Võimaldab arvutada puidust posti vastupidavust survele pikikiudu.</p>
          <p> asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asdf asfd asf </p>
          <a class="btn btn-outline-primary mt-auto" routerLink="/post">Posti arvutus</a>
        </div>
      </div>
    </div>
  </div>
</div>
